[core]
	autocrlf = false
[pull]
    rebase = true
[branch]
    autoSetupRebase = always
  
[include]
    path = ~/.default.gitconfig
[includeIf "gitdir:C:/alpha"] ; REPLACE
    path = ~/.alpha.gitconfig
[includeIf "gitdir:C:/ome/"]
    path = ~/.ome.gitconfig