<?xml "1.0" encoding="utf-8"?>
<packages>
% 	<package id="autohotkey.portable"/>
	<package id="brave"/>
	<package id="flow-launcher"/>
	<package id="git"/>
	<package id="openssh" />
	<package id="openssl" />
	<package id="curl"/>

	<package id="7zip"/>
	<package id="vlc" />
	<package id="treesize"/>

	<package id="maven"/>
	<package id="gradle"/>
	<package id="docker-desktop"/>

	<package id="vscode"/>
	<package id="jetbrainstoolbox"/>

	<package id="notion"/>
	<package id="obsidian"/>

	<package id="postman"/>
	<package id="wireshark"/>

	<package id="sharex" />
	<package id="steam"/>
</packages>