<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- https://stackoverflow.com/questions/19752533/how-do-i-set-chocolatey-to-install-applications-onto-another-drive -->
	<package id="flow-launcher"/>
	<package id="git" installArguments="/DIR=C:\Users\denbl\tools\git"/>
	<package id="openssl" installArguments="/DIR=C:\Users\denbl\tools\openssl"/>
	<package id="curl"/>
	<package id="maven"/>
	<package id="gradle"/>

	<package id="brave"/>
	<package id="7zip"/>
	<package id="vlc" />
	<package id="treesize"/>
	<package id="docker-desktop"/>

	<package id="vscode"/>
	<package id="jetbrainstoolbox"/>

	<package id="notion"/>
	<package id="obsidian"/>

	<package id="postman"/>
	<package id="wireshark"/>

	<package id="sharex" />
	<package id="steam"/>
	<package id="rpi-imager"/>
	<package id="mobaxterm"/>
</packages>